@import url(./__title/form__title.css);
@import url(./__area/form__area.css);
@import url(./__name/form__name.css);
@import url(./__tel/form__tel.css);
@import url(./__button/form__button.css);

.form {
    margin-top: 80px;
    background-image: url(../../images/form/Frame\ 22.png);
    width: 100%;
    height: 643px;
    display: flex;
    flex-direction: column;
    align-items: center;
}