.form__tel {
    width: 260px;
    height: 60px;
    border-radius: 57px;
    -webkit-border-radius: 57px;
    -moz-border-radius: 57px;
    -ms-border-radius: 57px;
    -o-border-radius: 57px;
    border: none;
    outline: none;
    text-indent: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
}