.header__button {
    width: 45px;
    height: 45px;
    border: none;
    background-image: url(../../../images/header/Group\ 31.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-right: 16px;
    margin-top: 10px;
    outline: none;
}

.header__button:hover {
    cursor: pointer;
    transform: scale(2,2);
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(2,2);
    -ms-transform: scale(2,2);
    -o-transform: scale(2,2);
    transition: transform 1s linear;
    -webkit-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    -ms-transition: transform 1s linear;
    -o-transition: transform 1s linear;
}